.color-red{
    color: #890707;
    font-size: 35px;
    font-weight: 500;
}

.color-gray{
    background-color: rgba(250, 235, 215, 0.365);
}

.products-card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 250px;
    /* background: #8482827a; */
}

.products-card img{
    width: 110px;
    margin: 0 50px;   
}
.products-offer p{
    background: #be0b3b;
    color: #fff;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 2px;
    margin: 8px 0;
    font-size: 13px; 
}

.products-offer span{
    color: #be0b3b;
    font-weight: 500;
    font-size: 12px;
}

.products-price{
    color: gray;
    font-size: 13px;
}

.products-card h4{
    color: #525252;
    font-size: 15px;
    font-weight: 400;
}